<h1>Lista de Productos</h1>

<div id="productList">
    {{#each products}}
        <div class="product-card"> 
            <h2>{{this.title}}</h2>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <img src="{{this.img}}" alt="{{this.title}}">
            <p>Código: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
        </div>
    {{/each}}